body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,74,29,1) 0%, rgba(252,176,69,1) 100%);
}

.navbarDiv ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navbarDiv ul>li {
    list-style: none;
}
.navbarDiv ul>li>a {
    text-decoration: none;
    font-size: x-large;
    font-family: 'Lobster Two', cursive;
    color: black;
}