html,
body {
  overflow-x: hidden;
  background-color: rgb(44, 44, 44) !important;
}
.navbarDiv {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 74, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 10px 0;
}
.navbarDiv ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0px !important;
}
.navbarDiv ul > li {
  list-style: none;
}
.navbarDiv ul > li > a {
  text-decoration: none;
  font-size: x-large;
  font-family: 'Abril Fatface', cursive;
  color: rgb(44, 44, 44);
}

.headerDiv {
  position: relative;
}
.headerText {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-family: 'Lobster', cursive;
  font-size: larger;
  color: wheat;
}
.headerDiv img {
    height: 450px;
}

.container img {
  height: 300px;
}

.footerDiv {
    display: flex;
    justify-content: center;
}
.footerDiv img {
    height: 200px;
    border-radius: 500px;
    opacity: 40%;
    margin-top: 20px;
}

