html,
body {
  overflow-x: hidden;
  background-color: rgb(44, 44, 44) !important;
}
.navbar {
  background: #2e102a;
}

.navbarDiv {
  background: #2e102a;
  padding: 10px 0;
}
.navbarDiv ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0px !important;
}
.navbarDiv ul > li {
  list-style: none;
}
.navbarDiv ul > li > a {
  text-decoration: none;
  font-size: x-large;
  font-family: "Abril Fatface", cursive;
  color: #ffbe94;
}

.bannerDiv {
  position: relative;
}
.bannerText {
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-family: "Lobster", cursive;
  font-size: larger;
  color: wheat;
}
.bannerDiv img {
  height: 300px;
  width: 100%;
}

#secondFormEle {
  margin-bottom: 20px;
}

.formElement {
  width: 100%;
  padding: 13px;
  background-color: #a48c89;
  margin: 8px 0px;
  border-radius: 5px;
}

.formElement:focus {
  background-color: #fbbb93;
}

.formSubmit {
  padding: 10px 30px;
  margin-left: 20px;
  background-color: #fbbb93;
  border: none;
  border-radius: 10px;
  color: white;
}

.formGeneral {
  background-color: rgb(73, 70, 70);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.selection {
  font-family: "Abril Fatface", cursive;
}

label {
  margin-left: 3px;
  color: bisque;
  font-family: "Abril Fatface", cursive;
}


.footer {
  display: flex;
  justify-content:space-evenly;
  background-color: #5c4448;
}

.footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerImg {
  display: flex;
  flex-direction: column;
}
#footerImg>img{
  height: 200px;
  border-radius: 500px;
  opacity: 40%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.footerIcons {
  margin-bottom: 5px;
}
.footerIcons a {
  text-decoration: none;
}

#footerImg svg{
  margin: 5px;
}
.footerList {
  list-style-type: none;
}
.footerList ul {
  margin: 0px !important;
}
.footerList li {
  padding: 10px 0px;
}
.footerList li a {
  text-decoration: none;
  color: white;
  font-family: "Abril Fatface", cursive;
}
