<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="currentPage === 0 ? 'disabled' : ''">
      <a class="page-link" (click)="currentPage = currentPage - 1">Önceki</a>
    </li>

    <li class="page-item" [ngClass]="currentPage === i ? 'active' : ''" *ngFor="let image of images; let i=index">
      <!-- <a class="page-link" (click)="onPageChange(i)" href="#">{{i+1}}</a> -->
      <a class="page-link" (click)="currentPage = i" href="#">{{i+1}}</a>
    </li>

    <li class="page-item" [ngClass]="currentPage === images.length-1 ? 'disabled' : ''">
      <a class="page-link" (click)="currentPage = currentPage + 1" href="#">Sonraki</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{images[currentPage].title}}</h4>
</div>
<div>
  <img [src]="images[currentPage].url" alt="">
</div>
