/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-card {
  max-width: 400px;
  min-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.logForm {
  display: flex;
  flex-direction: column;
}
.regForm {
  display: flex;
  flex-direction: column;
}

.cardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.mat-card-header {
  justify-content: center;
}
